<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.davinci.edu">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.auth0.android.provider.RedirectActivity"
            android:screenOrientation="portrait"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/com_auth0_domain"
                    android:pathPrefix="/android/${applicationId}/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAJF-lhWIH_8kyXK6n2v9EItOGzymhyvk" />

        <activity
            android:name="com.auth0.android.provider.WebAuthActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activities.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.training.TrainingSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.fitness.walk.WalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.fitness.DispatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.account.view.AccountViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.account.edit.AccountEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.userRoutine.workout_exercise.WorkoutExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.userRoutine.user_routine_detail.UserRoutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.userRoutine.user_experience.UserExperienceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.userRoutine.meal_nutrition.MealNutritionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.training.running_session.RunningSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.training.nutrition_session.NutritionSessionActivity"
            android:screenOrientation="portrait" />


        <service android:name=".infraestructure.service.LocationService" />

    </application>

</manifest>